.Main {
    height: 100vh;
    padding: 30px;
}

.Course {
    margin-top: 50px;
    display: flex;
    width: 93vw;
}

.Welcome {
    font-size: 2rem;
    font-weight: 500;
}

.Body {
    width: 50%;
    height: 100%;
    line-height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.Body img {
    width: 196px;
    height: 120px;

}

.Card {
    /* border */
}

.Button {
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
    background-color: #3B71CA;
    height: 20px;
    font-size: 1.2rem;
    border-radius: 4px;
}