.Box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 90vh;
    border-radius: 10px;

}

.Container {
    display: flex;
    height: auto;
    padding: 10px;



}

.Image {
    width: 60%;
}